* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02160b;
}



.header {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    max-width: 1200px;
}



.fon {
    background-image: url(./Rectangle.jpg);
    max-width: 1440px;
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.logotip {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    height: 60px;
}



.logo {
    background-image: url(./path0.png);
    width: 68.2px;
    height: 60px;
}



.logo2 {
    width: 155px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    justify-content: space-between;
}





.searching {
    background-image: url(./Vector.svg);
    width: 23px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



    .searching:hover {
      transform:scale(2,2);
    }

